* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-image: url('../img/fundo.jpg');
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-size: 4em;
	color: black;
	font-family: 'Roboto', sans-serif;
}

.site-subtitle {
    color: whitesmoke;
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-serif;
	line-height: 1.8em;
}

.menu{
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
	font-family: 'Roboto', sans-serif;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu li{
	float: left;
}

a{
  display: block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

li a:hover {
	background-color: black;
	color: white;
  }


.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio .grid {
	display: grid;
	gap: 2em;
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
}

.portfolio h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
}

.portfolio figure{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.img-portfolio {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio figure {
    text-align: center;
}