* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-size: 4em;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px black;
}

.site-subtitle {
    color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1.8em;
	text-shadow: 2px 2px black;
}

.menu{
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
	font-family: 'Roboto', sans-serif;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu li{
	float: left;
}

a{
  display: block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

#centro {
    margin-left:110px;
	height: 210px;
    width: 210px;
    object-fit: cover;
	border-radius: 120px;
}

li a:hover {
	background-color: black;
	color: white;
  }


.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio .grid {
	display: grid;
	gap: 2em;
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
}

.portfolio h2{
	line-height: 3em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	color: white;
}

.portfolio figure{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.img-portfolio {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio figure {
    text-align: center;
}

@media (min-width: 300px) {
	.portfolio .grid {
		display: grid;
		grid-template-columns: 260px;
	}
}

@media (max-width: 447px) {
	.site-title {
		position: relative;
		font-size: 3em;
		color: white;
		font-family: 'Roboto', sans-serif;
		text-shadow: 2px 2px black;
	}
}



@media (min-width: 650px) {
	.portfolio .grid {
		display: grid;
		grid-template-columns: 260px 260px;
	}
}

@media (min-width: 860px) {
	.portfolio .grid {
		display: grid;
		grid-template-columns: 260px 260px 260px;
	}
}





#myVideo {
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
  }


  .content {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: auto;
  }